.header {
  width: 100%;
  justify-content: space-between;
  color: aliceblue;
}

.logo-container {
    height: 50%;
    width: 50%;
  }

.logo {
  height: 50px;
  width: 50px;
  filter: invert();
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: flex-end;
}

.option {
      padding: 10px 15px;
}

